/* mixins */
/* Common settings */
#scene-1 {
  z-index: 10; }

#scene-2 {
  z-index: 20; }

#scene-3 {
  z-index: 30; }

#scene-4 {
  z-index: 40; }

#scene-5 {
  z-index: 50; }

#scene-6 {
  z-index: 60; }

#scene-7 {
  z-index: 70; }

#scene-8 {
  z-index: 80; }

#scene-9 {
  z-index: 90; }

#scene-10 {
  z-index: 100; }

#scene-11 {
  z-index: 110; }

#scene-12 {
  z-index: 120; }

#scene-13 {
  z-index: 130; }

#scene-14 {
  z-index: 140; }

#scene-15 {
  z-index: 150; }

#scene-16 {
  z-index: 160; }

#scene-17 {
  z-index: 170; }

#scene-18 {
  z-index: 180; }

#scene-19 {
  z-index: 190; }

#scene-20 {
  z-index: 200; }

#scene-21 {
  z-index: 210; }

#scene-22 {
  z-index: 220; }

#scene-23 {
  z-index: 230; }

#scene-24 {
  z-index: 240; }

#scene-25 {
  z-index: 250; }

#scene-26 {
  z-index: 260; }

#scene-27 {
  z-index: 270; }

#scene-28 {
  z-index: 280; }

#scene-29 {
  z-index: 290; }

#scene-30 {
  z-index: 300; }

.hide {
  opacity: 0; }

.display {
  opacity: 1; }

.close {
  display: none; }

.open {
  display: block; }

.center {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto auto; }

.origin {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.rot-10 {
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.z-top {
  z-index: 999; }

.y30 {
  -moz-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0); }

.wait,
.active {
  display: block; }

.anime-short {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.scale-3 {
  -moz-transform: scale(0.33, 0.33);
  -o-transform: scale(0.33, 0.33);
  -ms-transform: scale(0.33, 0.33);
  -webkit-transform: scale(0.33, 0.33);
  transform: scale(0.33, 0.33); }

.full-y {
  top: 0px;
  bottom: 0px; }

.hidden {
  display: none; }

/* Copied from demo.css */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html, body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: Hiragino;
  src: url(../resource/SansGBW3_min.ttf) format("truetype"); }
.opening {
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 1;
  position: absolute;
  z-index: 3000;
  color: #FFF;
  font-size: 4em;
  text-align: center;
  overflow: hidden;
  line-height: 512px; }

.mask {
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  z-index: 3000;
  color: #FFF;
  font-size: 1em;
  line-height: 200%;
  text-align: center;
  overflow: hidden; }

.disabled {
  disabled: true;
  opacity: 0.27; }

.btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90px;
  height: 40px;
  border: 2px solid grey;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  z-index: 2800;
  top: 20px; }

.mute-btn {
  right: 10px; }

.auto-btn {
  width: 150px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; }

.next-btn {
  margin-left: 92px; }

.start-btn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #F00;
  width: 150px;
  height: 55px; }

.container {
  position: absolute;
  left: 50%;
  width: 1024px;
  height: 768px;
  margin: 0px;
  overflow: hidden;
  font-family: Georgia-Italic,Georgia,Hiragino,SimHei;
  border: 1px dotted rgba(255, 255, 255, 0.5); }

.strips, body {
  background-color: #D7CCC8;
  background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 12px, rgba(255, 158, 128, 0.29) 17px, rgba(255, 158, 128, 0.29) 10px);
  background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 12px, rgba(255, 158, 128, 0.29) 17px, rgba(255, 158, 128, 0.29) 10px);
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 12px, rgba(255, 158, 128, 0.29) 17px, rgba(255, 158, 128, 0.29) 10px);
  /*	-moz-box-shadow: 1px 1px 4px gray;
      -webkit-box-shadow: 1px 1px 4px gray;
  	box-shadow: 1px 1px 4px gray;
  */ }

audio {
  display: none; }

.scene {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 768px;
  height: 512px;
  overflow: hidden;
  border: 1px dotted rgba(255, 255, 255, 0.5); }

.scene:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 5%;
  background-image: url(../resource/ribbon_04.png);
  background-size: 100% 100%;
  z-index: 3500; }

.scene:after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 5%;
  background-image: url(../resource/ribbon_04.png);
  background-size: 100% 100%;
  z-index: 3500; }

.shade {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0; }

/* scene1 */
#scene1, #scene2, #scene3, #scene4 {
  /**
   * scene2 
   */ }
  #scene1 .places, #scene2 .places, #scene3 .places, #scene4 .places {
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 1024px; }
  #scene1 .building-ctn, #scene2 .building-ctn, #scene3 .building-ctn, #scene4 .building-ctn {
    position: relative;
    height: 512px; }
  #scene1 .up, #scene2 .up, #scene3 .up, #scene4 .up {
    position: absolute;
    top: 0;
    height: 204.8px;
    width: 768px; }
  #scene1 .down, #scene2 .down, #scene3 .down, #scene4 .down {
    position: absolute;
    bottom: 0;
    height: 307.2px;
    width: 768px; }
  #scene1 .year, #scene2 .year, #scene3 .year, #scene4 .year {
    position: absolute;
    left: 30.72px;
    top: 30.72px;
    height: 61.44px; }
  #scene1 .building, #scene2 .building, #scene3 .building, #scene4 .building {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 45%;
    -moz-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  #scene1 .building img, #scene2 .building img, #scene3 .building img, #scene4 .building img {
    max-width: 100%; }
  #scene1 .marco, #scene2 .marco, #scene3 .marco, #scene4 .marco {
    width: 92.16px;
    height: 138.24px;
    background: url(../resource/marco1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  #scene1 .down .marco.shadow, #scene2 .down .marco.shadow, #scene3 .down .marco.shadow, #scene4 .down .marco.shadow {
    top: -5%; }
  #scene1 .marco.shadow, #scene2 .marco.shadow, #scene3 .marco.shadow, #scene4 .marco.shadow {
    background: url(../resource/marco1_shadow.png);
    background-size: 100% 100%; }
  #scene1 .marco.tourist, #scene2 .marco.tourist, #scene3 .marco.tourist, #scene4 .marco.tourist {
    background: url(../resource/marco2.png);
    background-size: 100% 100%; }
  #scene1 .marco.tourist.shadow, #scene2 .marco.tourist.shadow, #scene3 .marco.tourist.shadow, #scene4 .marco.tourist.shadow {
    background: url(../resource/marco2_shadow.png);
    background-size: 100% 100%; }
  #scene1 .boat, #scene2 .boat, #scene3 .boat, #scene4 .boat {
    position: absolute;
    width: 276.48px;
    height: 138.24px;
    background: url(../resource/boat.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 121; }
  #scene1 .boat.shadow, #scene2 .boat.shadow, #scene3 .boat.shadow, #scene4 .boat.shadow {
    background: url(../resource/boat_shadow.png);
    background-size: 100% 100%; }
  #scene1 .oar, #scene2 .oar, #scene3 .oar, #scene4 .oar {
    width: 60%;
    height: 90%;
    margin: auto;
    background: url(../resource/oar.png);
    background-size: 100% 100%; }
  #scene1 .marco.scene-top, #scene2 .marco.scene-top, #scene3 .marco.scene-top, #scene4 .marco.scene-top {
    position: absolute;
    top: -18%; }
  #scene1 .boat.scene-top, #scene2 .boat.scene-top, #scene3 .boat.scene-top, #scene4 .boat.scene-top {
    top: -15%; }
  #scene1 .shade-scene2, #scene2 .shade-scene2, #scene3 .shade-scene2, #scene4 .shade-scene2 {
    width: 100%;
    height: 100%; }
  #scene1 .ditch, #scene2 .ditch, #scene3 .ditch, #scene4 .ditch {
    position: absolute;
    top: 75%;
    left: 37%;
    width: 138.24px;
    height: 34.56px;
    background: url(../resource/ditch.png);
    background-size: 100% 100%;
    opacity: 0;
    z-index: 122; }
  #scene1 .papermans, #scene2 .papermans, #scene3 .papermans, #scene4 .papermans {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden; }
  #scene1 .papermans:after, #scene2 .papermans:after, #scene3 .papermans:after, #scene4 .papermans:after {
    clear: both; }
  #scene1 .paperman, #scene2 .paperman, #scene3 .paperman, #scene4 .paperman {
    width: 92.16px;
    height: 138.24px;
    margin: 0px 0px;
    float: left;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -webikit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }
  #scene1 .greyman, #scene2 .greyman, #scene3 .greyman, #scene4 .greyman {
    background: url(../resource/paperman.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  #scene1 .paperman-line, #scene2 .paperman-line, #scene3 .paperman-line, #scene4 .paperman-line {
    position: relative;
    left: -23.04px;
    top: 92.16px;
    height: 138.24px;
    width: 120%;
    margin-top: -69.12px;
    overflow: hidden; }
  #scene1 .l1, #scene2 .l1, #scene3 .l1, #scene4 .l1 {
    position: relative;
    left: 23.04px; }
  #scene1 .half, #scene2 .half, #scene3 .half, #scene4 .half {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%; }
  #scene1 .subway, #scene2 .subway, #scene3 .subway, #scene4 .subway {
    position: absolute;
    left: -384px;
    top: -307.2px;
    font-style: italic;
    z-index: 140; }
  #scene1 .subway-up, #scene2 .subway-up, #scene3 .subway-up, #scene4 .subway-up {
    position: relative;
    height: 358.4px;
    width: 100%;
    background: white; }
  #scene1 .subway-text-ctn, #scene2 .subway-text-ctn, #scene3 .subway-text-ctn, #scene4 .subway-text-ctn {
    position: relative;
    width: 1305.6px;
    height: 256px;
    margin: auto;
    color: #795548;
    font-size: 80;
    text-align: center; }
  #scene1 .subway-year, #scene2 .subway-year, #scene3 .subway-year, #scene4 .subway-year {
    position: absolute;
    bottom: 51.2px;
    font-size: 160; }
  #scene1 .subway-popu, #scene2 .subway-popu, #scene3 .subway-popu, #scene4 .subway-popu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 51.2px; }
  #scene1 .subway-title, #scene2 .subway-title, #scene3 .subway-title, #scene4 .subway-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 5.12px; }
  #scene1 .subway-head, #scene2 .subway-head, #scene3 .subway-head, #scene4 .subway-head {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 102.4px;
    background: #eee;
    border-top: solid 10px #aaa;
    border-bottom: solid 10px #aaa; }
  #scene1 .subway-down, #scene2 .subway-down, #scene3 .subway-down, #scene4 .subway-down {
    position: relative;
    height: 665.6px;
    width: 1536px; }
  #scene1 .subway-left, #scene2 .subway-left, #scene3 .subway-left, #scene4 .subway-left {
    position: absolute;
    left: 0;
    width: 384px;
    height: 798.72px;
    background: url(../resource/subwayl.png);
    background-size: 100% 110%; }
  #scene1 .subway-right, #scene2 .subway-right, #scene3 .subway-right, #scene4 .subway-right {
    position: absolute;
    right: 0;
    width: 384px;
    height: 798.72px;
    background: url(../resource/subwayr.png);
    background-size: 100% 110%; }
  #scene1 .subway-shadow, #scene2 .subway-shadow, #scene3 .subway-shadow, #scene4 .subway-shadow {
    width: 420.864px;
    height: 925.45024px;
    margin: -23.42912px -18.432px;
    background: url(../resource/subway_shadow.png);
    background-size: 100% 100%;
    background-position: center; }
  #scene1 .subway-block, #scene2 .subway-block, #scene3 .subway-block, #scene4 .subway-block {
    position: absolute;
    width: 384px;
    height: 665.6px;
    background: url(../resource/subway.png);
    background-size: 100% 132%; }
  #scene1 .subway-block.left, #scene2 .subway-block.left, #scene3 .subway-block.left, #scene4 .subway-block.left {
    left: 0; }
  #scene1 .subway-block.right, #scene2 .subway-block.right, #scene3 .subway-block.right, #scene4 .subway-block.right {
    right: 0; }

#scene4 .marco, #scene5 .marco, #scene6 .marco {
  width: 184.32px;
  height: 276.48px; }
#scene4 .marco-ctn, #scene5 .marco-ctn, #scene6 .marco-ctn {
  position: relative;
  top: 40%; }
#scene4 .paperman, #scene5 .paperman, #scene6 .paperman {
  margin-left: -23.04px; }

/* scene5 */
.shade-youtube img {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 12%; }

.shade-youtube {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 150; }

.loading {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 220px;
  height: 220px; }

.ctn-browser {
  position: absolute;
  top: -153.6px;
  left: -307.2px;
  width: 1920px;
  height: 1280px;
  border: solid 1px #aaa; }

.ctn-browser-in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.topbar {
  position: relative;
  top: 0;
  margin: auto auto;
  width: 100%;
  height: 102.4px; }

.youtubebar_l {
  position: absolute;
  left: 0;
  width: 146.28571px;
  height: 102.4px;
  background: url(../resource/youtubebar_l.png);
  background-size: 100% 100%; }

.youtubebar_m {
  margin: 0 146.28571px;
  height: 102.4px;
  background: url(../resource/youtubebar_m.png);
  background-size: 100% 100%; }

.youtubebar_r {
  position: absolute;
  right: 0;
  width: 146.28571px;
  height: 102.4px;
  background: url(../resource/youtubebar_r.png);
  background-size: 100% 100%; }

.tag {
  position: absolute;
  top: -122.88px;
  left: 345.6px;
  height: 122.88px;
  width: 276.48px;
  background: url(../resource/tag.png);
  background-size: 100% 100%; }

.browser {
  position: absolute;
  top: -51.2px;
  width: 1408px;
  height: 100%;
  margin: 0 277.2px;
  border-radius: 51.2px;
  overflow: hidden;
  background: #e0e0e0; }

.browser-content {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 153.6px;
  bottom: 0;
  overflow: hidden; }

.browser-left {
  position: absolute;
  left: 0;
  top: 51.2px;
  width: 768px;
  height: 100%;
  margin: auto auto;
  padding: 563.2px 0 0 0; }

.browser-right {
  position: absolute;
  left: 828px;
  top: 51.2px;
  right: 0;
  height: 100%;
  margin: auto auto;
  opacity: 0;
  -moz-transform: translate3d(0, -20%, 0);
  -o-transform: translate3d(0, -20%, 0);
  -ms-transform: translate3d(0, -20%, 0);
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0); }

.youtube {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 768px;
  height: 512px;
  margin: auto auto;
  overflow: hidden; }

.like-bar {
  position: relative;
  width: 100%;
  height: 153.6px;
  background: url(../resource/board_like.png);
  background-size: 100% 100%; }

.like {
  position: absolute;
  right: 30%;
  top: 35.84px;
  width: 81.92px;
  height: 81.92px;
  opacity: 0;
  background: url(../resource/like.png);
  background-size: 100% 100%; }

.like-text {
  position: relative;
  left: 76.8px;
  height: 153.6px;
  color: #26A69a;
  font-size: 100px; }

.dot {
  position: relative;
  left: 51.2px;
  float: left;
  width: 15.36px;
  height: 15.36px;
  margin: 69.12px 17.92px;
  border-radius: 50%;
  background: black; }

.comment-ctn {
  height: 25.6px;
  overflow: hidden; }

.comments {
  width: 768px;
  padding: 102.4px 0;
  background: url(../resource/comment_list.png);
  background-size: 100% 100%; }

.comment {
  position: relative;
  height: 204.8px;
  width: 90%;
  margin: 10px auto; }

.comment-head {
  position: absolute;
  width: 153.6px;
  height: 153.6px;
  margin: 25.6px;
  background: url(../resource/comment_head.png);
  background-size: 100% 100%; }

.comment-content {
  position: relative;
  top: 25.6px;
  width: 460.8px;
  height: 102.4px;
  margin: 15.36px 15.36px 15.36px 179.2px;
  padding: 35.84px;
  border-radius: 15.36px;
  background: url(../resource/comment_bubble.png);
  background-size: 100% 100%; }

.comment .dash {
  height: 15.36px;
  width: 422.4px;
  margin: 15.36px 0; }

.ctn-video {
  position: absolute;
  height: 230.4px;
  width: 90%;
  margin: 0px auto; }

.ctn-video .video {
  position: absolute;
  width: 307.2px;
  height: 230.4px;
  background: url(../resource/board_video.png);
  background-size: 100% 100%;
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.video .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 204.8px;
  height: 204.8px;
  margin: auto; }

.video .v0 {
  background: url(../resource/v0.png);
  background-size: 100% 100%; }

.video .v1 {
  background: url(../resource/v1.png);
  background-size: 100% 100%; }

.video .v2 {
  background: url(../resource/v2.png);
  background-size: 100% 100%; }

.dashes {
  height: 204.8px;
  margin: 0 0 0 296.96px;
  padding: 25.6px 0; }

.dash {
  height: 10.24px;
  background: #111;
  width: 0;
  margin: 25.6px 0; }

.page-ctn {
  position: absolute;
  left: 281.6px;
  top: 153.6px; }

.small-page {
  position: absolute;
  width: 307.2px;
  height: 204.8px;
  opacity: 0; }

.page0 {
  background: url(../resource/s6_google.png);
  background-size: 100% 100%; }

.page1 {
  background: url(../resource/s6_wheretogo.png);
  background-size: 100% 100%; }

.page2 {
  background: url(../resource/s6_booking.png);
  background-size: 100% 100%; }

.page3 {
  background: url(../resource/s6_findres.png);
  background-size: 100% 100%; }

.page4 {
  width: 460.8px;
  height: 307.2px;
  background: url(../resource/s6_air.png);
  background-size: 100% 100%; }

.body {
  position: relative;
  width: 100%;
  height: 100%; }

#scene7 .comments-new, #scene8 .comments-new {
  background: #EFEBE9;
  position: absolute; }
#scene7 #browser, #scene8 #browser {
  overflow: visible; }
#scene7 .browser-content, #scene8 .browser-content {
  overflow: visible; }
#scene7 .profile-photo, #scene8 .profile-photo {
  background: url(../resource/profile.png);
  background-size: 100% 100%; }
#scene7 .worry-bubble, #scene8 .worry-bubble {
  position: absolute;
  width: 204.8px;
  height: 204.8px;
  background-size: 100% 100%; }
#scene7 .worry1, #scene8 .worry1 {
  background-image: url(../resource/worry1.png); }
#scene7 .worry2, #scene8 .worry2 {
  background-image: url(../resource/worry2.png); }
#scene7 .worry3, #scene8 .worry3 {
  background-image: url(../resource/worry3.png); }
#scene7 .worry4, #scene8 .worry4 {
  background-image: url(../resource/worry4.png); }
#scene7 .comment-ctn, #scene8 .comment-ctn {
  overflow: visible; }
#scene7 .comment-content, #scene8 .comment-content {
  font-size: 3.5em;
  text-align: center; }
  #scene7 .comment-content .worry-text, #scene8 .comment-content .worry-text {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%; }

#scene8 .bubble-disappear, #scene9 .bubble-disappear {
  position: absolute;
  width: 204.8px;
  height: 204.8px;
  background-image: url(../resource/bubble_disappear.png);
  background-size: 100% 100%; }
#scene8 .marco-shadow, #scene9 .marco-shadow {
  background: url(../resource/marco2_shadow.png);
  background-size: 100% 100%;
  background-size: 138.24px 207.36px;
  width: 138.24px;
  height: 207.36px;
  position: absolute;
  top: 310px;
  right: 170px;
  z-index: 400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
#scene8 .marco-nomouth, #scene9 .marco-nomouth {
  background: url(../resource/marco_nomouth.png) no-repeat;
  position: absolute;
  background-size: 138.24px 207.36px;
  background-position: 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  width: 100%; }
#scene8 #mouth, #scene9 #mouth {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 77.4144px auto; }
#scene8 .chinese, #scene9 .chinese {
  background: url(../resource/chinese.png);
  background-size: 100% 100%;
  position: absolute;
  width: 138.24px;
  height: 207.36px;
  position: absolute;
  z-index: 100; }
#scene8 .chinese-smile, #scene9 .chinese-smile {
  background-image: url(../resource/chinese_smile.png); }
#scene8 .chinese:nth-child(1), #scene9 .chinese:nth-child(1) {
  right: 58px;
  bottom: 68px;
  opacity: 0; }
#scene8 .chinese:nth-child(2), #scene9 .chinese:nth-child(2) {
  right: 108px;
  bottom: 85px;
  opacity: 0; }
#scene8 .chinese:nth-child(3), #scene9 .chinese:nth-child(3) {
  right: 230px;
  bottom: 38px;
  opacity: 0; }
#scene8 .shade, #scene9 .shade {
  background-color: #D7CCC8;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 300; }
#scene8 .circle, #scene9 .circle {
  background-color: #8D6E63;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px; }
#scene8 .circle-ctn, #scene9 .circle-ctn {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 430px;
  height: 430px;
  z-index: 600; }
#scene8 .money, #scene9 .money {
  background: url(../resource/dollar.png) no-repeat;
  position: absolute;
  background-size: 520px 220px;
  background-position: 38% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 155px;
  height: 155px;
  z-index: 600; }
#scene8 .flat-money, #scene9 .flat-money {
  background: url(../resource/dollar_top.png) no-repeat;
  background-size: 338px 123px;
  background-position: 50%;
  opacity: 1;
  width: 768px;
  height: 512px; }
#scene8 .bottom, #scene9 .bottom {
  background: url(../resource/dollar_bottom.png) no-repeat;
  position: absolute;
  background-size: 520px 220px;
  background-position: 38% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 155px;
  height: 155px;
  z-index: 600; }

#scene10 .left-ctn {
  position: absolute;
  width: 208.896px;
  height: 215.04px;
  top: 200px;
  left: 195px;
  margin: auto; }
#scene10 .right-ctn {
  position: absolute;
  width: 208.896px;
  height: 215.04px;
  top: 200px;
  left: 600px;
  margin: auto; }
#scene10 .bag {
  position: absolute;
  background: url(../resource/shoppingbag.png);
  width: 174.08px;
  height: 179.2px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-size: 100% 100%; }
#scene10 .bag-left-sm {
  width: 87.04px;
  height: 89.6px;
  left: 104.448px;
  top: 107.52px; }
#scene10 .bag-left-bg {
  width: 174.08px;
  height: 179.2px; }
#scene10 .bag-right {
  width: 121.856px;
  height: 125.44px; }
#scene10 .happy {
  position: absolute;
  top: 153.6px;
  width: 184.32px;
  height: 276.48px;
  background: url(../resource/happy.png);
  background-size: 100% 100%; }
#scene10 .banner {
  position: absolute;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
  border: 3px dotted;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  top: 50px;
  left: 0;
  right: 0;
  bottom: auto;
  width: 614.4px;
  height: 102.4px;
  margin: auto;
  text-align: center;
  line-height: 2.5em;
  opacity: 0; }

#scene11 .bg11 {
  position: relative;
  width: 100%;
  height: 100%; }
#scene11 .canadian {
  position: absolute;
  top: 102.4px;
  width: 184.32px;
  height: 276.48px;
  background: url(../resource/canadian0.png);
  background-size: 100% 100%; }
#scene11 .canadian.umbrella {
  background: url(../resource/canadian1.png);
  background-size: 100% 100%; }
#scene11 .canadian.lovechina {
  background: url(../resource/canadian2.png);
  background-size: 100% 100%; }
#scene11 .canadian.k0 {
  background: url(../resource/KoreanG.png);
  background-size: 100% 100%; }
#scene11 .canadian.k1 {
  background: url(../resource/KoreanB.png);
  background-size: 100% 100%; }
#scene11 .canadian.k2 {
  background: url(../resource/KoreanR.png);
  background-size: 100% 100%; }
#scene11 .question {
  position: absolute;
  top: 12%;
  width: 184.32px;
  height: 184.32px;
  font-size: 50px;
  text-align: center;
  opacity: 0; }
#scene11 .question.q0 > p {
  color: #26a69a;
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg); }
#scene11 .question.q1 > p {
  color: #9fa8c6;
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }
#scene11 .question.q2 > p {
  color: #e57373;
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg); }
#scene11 #cana00, #scene11 #cana01, #scene11 #k0, #scene11 #q0 {
  left: 15%; }
#scene11 #cana20, #scene11 #cana21, #scene11 #k2, #scene11 #q2 {
  right: 15%; }
#scene11 #cana10, #scene11 #cana11, #scene11 #k1, #scene11 #q1 {
  left: 40%;
  right: 40%;
  margin: auto; }
#scene11 #cana01, #scene11 #cana11, #scene11 #cana21, #scene11 #k1, #scene11 #k2, #scene11 #k0 {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }

#scene12 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
#scene12 .bg11 {
  z-index: 1203; }

#scene13 .gate-ctn, #scene14 .gate-ctn {
  z-index: 1410; }
#scene13 .gate-ctn .up, #scene14 .gate-ctn .up {
  background: #896558; }
#scene13 .gate-ctn .building, #scene14 .gate-ctn .building {
  padding-bottom: 307.2px; }
#scene13 .boat.shadow, #scene14 .boat.shadow {
  top: 20%; }
#scene13 .marco, #scene14 .marco {
  width: 153.6px;
  height: 230.4px; }
#scene13 .marco.shadow, #scene14 .marco.shadow {
  position: absolute;
  left: -153.6px;
  top: 332.8px;
  z-index: 1411; }
#scene13 .marco.body, #scene14 .marco.body {
  left: -3px; }

#scene14 .map-ctn, #scene15 .map-ctn, #scene16 .map-ctn {
  z-index: 1400; }
#scene14 .map-ctn svg, #scene15 .map-ctn svg, #scene16 .map-ctn svg {
  position: absolute;
  z-index: 1405; }
#scene14 .map-ctn, #scene14 .map, #scene15 .map-ctn, #scene15 .map, #scene16 .map-ctn, #scene16 .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#scene14 .map img, #scene15 .map img, #scene16 .map img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 62.7%;
  height: 81.2%; }
#scene14 .point, #scene15 .point, #scene16 .point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a0a8c6;
  z-index: 1406; }
#scene14 .p0, #scene15 .p0, #scene16 .p0 {
  left: 20.3%;
  top: 46.1%; }
#scene14 .p1, #scene15 .p1, #scene16 .p1 {
  left: 38.2%;
  top: 43.44%; }
#scene14 .p2, #scene15 .p2, #scene16 .p2 {
  left: 61%;
  top: 36.6%; }
#scene14 .p3, #scene15 .p3, #scene16 .p3 {
  left: 45.61%;
  top: 75.11%; }
#scene14 .p4, #scene15 .p4, #scene16 .p4 {
  left: 64%;
  top: 61.04%; }
#scene14 .p5, #scene15 .p5, #scene16 .p5 {
  left: 63.22%;
  top: 74.93%; }
#scene14 .mark, #scene15 .mark, #scene16 .mark {
  position: absolute;
  background: #00a3b8;
  width: 61.44px;
  height: 61.44px;
  border-radius: 50%;
  z-index: 1406;
  opacity: 0; }
#scene14 .mark img, #scene15 .mark img, #scene16 .mark img {
  width: 100%;
  height: 100%; }
#scene14 .m0, #scene15 .m0, #scene16 .m0 {
  left: 1.58%;
  top: 29.26%;
  width: 307.2px;
  height: 307.2px; }
#scene14 .m1, #scene15 .m1, #scene16 .m1 {
  left: 39.7%;
  top: 44.4%; }
#scene14 .m2, #scene15 .m2, #scene16 .m2 {
  left: 56.5%;
  top: 50.25%; }
#scene14 .m3, #scene15 .m3, #scene16 .m3 {
  left: 50.15%;
  top: 61.33%; }

#scene15 .big-svg, #scene16 .big-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 720px;
  height: 474.112px;
  overflow: visible;
  z-index: 1500; }
#scene15 .point.p1, #scene16 .point.p1 {
  z-index: 1501; }
#scene15 .count, #scene16 .count {
  position: absolute;
  left: 77%;
  top: 2.5%;
  font-size: 70;
  font-style: italic;
  opacity: 0; }
#scene15 .svg-bg, #scene16 .svg-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d6e63; }

#scene1, #scene2 {
  overflow: visible; }
  #scene1 .scene-content, #scene2 .scene-content {
    overflow: visible; }
  #scene1 .scene16, #scene1 .scene17, #scene2 .scene16, #scene2 .scene17 {
    height: 100%;
    width: 100%;
    position: absolute; }
  #scene1 .scene16, #scene2 .scene16 {
    z-index: 5; }
  #scene1 .cir-div, #scene2 .cir-div {
    width: 384px;
    height: 384px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -192px;
    margin-left: -192px;
    z-index: 1; }
  #scene1 .bg-cir, #scene2 .bg-cir {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    background-image: url(../resource/pie_blackloop.png); }
  #scene1 .goo-cir, #scene2 .goo-cir {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 400;
    background-position: 0 -400;
    z-index: 1;
    background-image: url(../resource/pie_focus.png);
    background-repeat: no-repeat;
    display: none; }
  #scene1 .number, #scene2 .number {
    position: absolute;
    left: 564px;
    top: 259px;
    color: #E57373;
    font-size: 30px;
    font-weight: bold;
    display: none; }
  #scene1 .left-number, #scene2 .left-number {
    position: absolute;
    left: 124px;
    top: 133px;
    color: #FFAB00;
    font-size: 36px;
    font-weight: bold;
    display: none; }
  #scene1 .perc, #scene2 .perc {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 53px;
    left: 61px; }
  #scene1 .pie-pin, #scene2 .pie-pin {
    transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    width: 10px;
    height: 5px;
    right: 92px;
    top: 132px;
    background-size: cover;
    position: absolute;
    display: none;
    background-image: url(../resource/pie_pin.png); }
  #scene1 .cir, #scene2 .cir {
    transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    position: absolute;
    background-image: url(../resource/pie.png);
    display: none; }
  #scene1 .map, #scene2 .map {
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    position: absolute;
    background-image: url(../resource/map.png); }
  #scene1 .phone, #scene2 .phone {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    width: 180px;
    height: 337px;
    top: 107px;
    left: 296px;
    background-size: cover;
    position: absolute;
    z-index: 1;
    background-image: url(../resource/phone.png); }
  #scene1 .phone-div, #scene2 .phone-div {
    background: none;
    z-index: 20; }
  #scene1 .up, #scene2 .up {
    position: absolute;
    top: 69%;
    left: 62px;
    color: #28A69A;
    font-size: 40px;
    display: none; }
  #scene1 .line, #scene2 .line {
    height: 1px;
    border: 1px solid #000;
    position: absolute;
    width: 89%;
    left: 10px;
    top: 14%;
    z-index: 10;
    display: none; }
  #scene1 .person, #scene2 .person {
    width: 50px;
    height: 60px;
    position: absolute;
    background-size: cover;
    background-image: url(../resource/android.png); }
  #scene1 .year, #scene2 .year {
    position: absolute;
    left: 346px;
    top: -48px;
    font-size: 35px;
    color: #cd5c5c; }

#scene16 .point, #scene17 .point {
  overflow: visible; }
#scene16 .point svg, #scene17 .point svg {
  position: absolute;
  width: 200%;
  height: 200%;
  margin: -50%; }
#scene16 .wifi, #scene17 .wifi {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }
#scene16 .wifi.w0, #scene17 .wifi.w0 {
  background: url(../resource/wifi1_light.png);
  background-size: 100% 100%; }
#scene16 .wifi.w1, #scene17 .wifi.w1 {
  background: url(../resource/wifi2_light.png);
  background-size: 100% 100%; }
#scene16 .wifi.w2, #scene17 .wifi.w2 {
  background: url(../resource/wifi3_light.png);
  background-size: 100% 100%; }
#scene16 .wifi.w3, #scene17 .wifi.w3 {
  background: url(../resource/wifi1_dark.png);
  background-size: 100% 100%; }
#scene16 .wifi.w4, #scene17 .wifi.w4 {
  background: url(../resource/wifi2_dark.png);
  background-size: 100% 100%; }
#scene16 .wifi.w5, #scene17 .wifi.w5 {
  background: url(../resource/wifi3_dark.png);
  background-size: 100% 100%; }
#scene16 .count.delta, #scene17 .count.delta {
  color: #FF9e80;
  left: 67%;
  top: 40%;
  opacity: 0; }
#scene16 .g-browser, #scene17 .g-browser {
  position: absolute;
  width: 70%;
  height: 81.68%;
  left: 15%;
  top: 8%;
  background: url(../resource/browstab.png);
  background-size: 100% 100%;
  opacity: 0; }
#scene16 .logo, #scene17 .logo {
  position: absolute;
  width: 57.7%;
  height: 35.16%;
  left: 21%;
  top: 30%;
  background: url(../resource/googlelogowithshadow.png);
  background-size: 100% 100%; }
#scene16 .searchbar, #scene17 .searchbar {
  position: absolute;
  left: 10%;
  top: 70%;
  width: 80.77%;
  height: 16.85%;
  background: url(../resource/searchbarwithshadow.png);
  background-size: 100% 100%; }
#scene16 .progress, #scene17 .progress {
  position: absolute;
  top: 20%;
  left: 2.7%;
  width: 43%;
  height: 60%;
  background: url(../resource/progressbar.png);
  background-size: auto 100%; }
#scene16 .searchbar .count.delta, #scene17 .searchbar .count.delta {
  top: 14%;
  left: 50%;
  opacity: 1;
  font-size: 41px; }

#scene17 .phone {
  position: absolute;
  left: 0;
  right: 0;
  width: 23.9%;
  height: 81.7%;
  margin: auto;
  background: url(../resource/nexuswithshadow.png);
  background-size: 100% 100%;
  opacity: 0; }
#scene17 .home {
  position: absolute;
  left: 0;
  right: 2%;
  top: 84%;
  width: 15%;
  height: 7.79%;
  margin: auto;
  border: solid #a0a0d0 1px;
  border-radius: 50%;
  background: #e0e0e0; }
#scene17 .progress-ctn {
  position: absolute;
  left: 0;
  right: 2%;
  top: 55%;
  width: 70%;
  height: 7%;
  margin: auto;
  background: #8b9498; }
#scene17 .progress.p16 {
  left: 0;
  top: 0;
  height: 100%;
  width: 48%; }
#scene17 .progress-shade {
  position: absolute;
  right: 0;
  height: 100%;
  width: 84%;
  background: #8b9498; }
#scene17 .count.delta {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  opacity: 1; }

#scene19 video {
  width: 100%;
  height: 100%; }
#scene19 .shade-s18 {
  position: absolute;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 576px;
  opacity: 0; }
#scene19 .shade-s18.s0 {
  position: absolute;
  left: -294.4px;
  top: -422.4px;
  width: 204.8px;
  height: 204.8px; }
#scene19 .tag-s18 {
  position: absolute;
  width: 128px;
  height: 153.6px;
  padding: 10px 10px 10px 10px;
  color: white;
  opacity: 0; }
#scene19 .tag-s18.blue {
  top: 100%;
  left: 15%;
  background: url(../resource/tag_blue.png);
  background-size: 100% 100%;
  padding-top: 25.6px; }
#scene19 .tag-s18.red {
  top: 62%;
  left: 69%;
  padding: 10px 10px 10px 10px;
  background: url(../resource/tag_red.png);
  background-size: 100% 100%;
  padding-top: 25.6px; }
#scene19 .tag-s18.yellow {
  left: 74%;
  top: -3.5%;
  width: 153.6px;
  height: 128px;
  padding: 10px 10px 10px 10px;
  background: url(../resource/tag_yellow.png);
  background-size: 100% 100%;
  padding-left: 25.6px; }
#scene19 .tag-s18 > .ingredients {
  border-bottom: 1px white solid;
  margin: 20px;
  text-align: center; }
#scene19 .tag-s18 > p {
  margin: 0px 20px; }
#scene19 .svg0 {
  position: absolute;
  left: 35.5%;
  top: 11.5%;
  width: 332.8px;
  height: 332.8px; }
#scene19 .shade-s18.s1 {
  position: absolute;
  left: -294.4px;
  top: -524.8px;
  width: 204.8px;
  height: 204.8px; }
#scene19 .svg1 {
  position: absolute;
  left: 35%;
  top: -10%;
  width: 409.6px;
  height: 409.6px; }
#scene19 .shade-ctn {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden; }
#scene19 .shade-ctn.s2 {
  left: 0; }
#scene19 .shade-ctn.s3 {
  right: 0; }
#scene19 .shade-ctn.s2 .shade-s18 {
  top: -320px;
  left: -422.4px;
  width: 230.4px;
  height: 230.4px; }
#scene19 .svg2 {
  position: absolute;
  left: 13%;
  top: 43.3%;
  width: 307.2px;
  height: 307.2px; }
#scene19 .shade-ctn.s3 .shade-s18 {
  top: -576px;
  left: -524.8px;
  width: 204.8px;
  height: 204.8px; }
#scene19 .svg3 {
  position: absolute;
  left: 55%;
  top: -5%;
  width: 256px;
  height: 256px; }

#scene20 .g-bg img, #scene21 .g-bg img, #scene22 .g-bg img {
  border: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: auto; }

#scene20 {
  z-index: 1900; }
  #scene20 .west-food {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 307.2px;
    height: 307.2px;
    background: url(../resource/west_food.png);
    background-size: 100% 100%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  #scene20 .chn-food {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 491.52px;
    height: 276.48px;
    background: url(../resource/chn_food.png);
    background-size: 100% 100%;
    overflow: visible;
    -moz-transform: translate3d(150%, -50%, 0);
    -o-transform: translate3d(150%, -50%, 0);
    -ms-transform: translate3d(150%, -50%, 0);
    -webkit-transform: translate3d(150%, -50%, 0);
    transform: translate3d(150%, -50%, 0); }
  #scene20 .mid-line {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 10.24px;
    height: 460.8px;
    border-left: solid #37474f 10.24px;
    -moz-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -o-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg); }

#scene21 .lung-tab {
  margin: 10% auto auto auto;
  width: 204.8px;
  height: 102.4px;
  overflow: visible;
  background: url(../resource/lung_tab.png);
  background-size: 100% 100%;
  opacity: 0;
  -moz-transform: translate3d(0, -200%, 0);
  -o-transform: translate3d(0, -200%, 0);
  -ms-transform: translate3d(0, -200%, 0);
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0); }
#scene21 .lung-plate {
  position: absolute;
  width: 170%;
  height: 340%;
  margin: 15% -35% auto -35%;
  background: url(../resource/plate.png);
  background-size: 100% 100%; }
#scene21 .lung-f {
  position: absolute;
  top: 30%;
  width: 50%;
  height: 50%;
  background: url(../resource/lung_f.png);
  background-size: 100% 100%;
  -moz-transform: translate3d(0, -300%, 0);
  -o-transform: translate3d(0, -300%, 0);
  -ms-transform: translate3d(0, -300%, 0);
  -webkit-transform: translate3d(0, -300%, 0);
  transform: translate3d(0, -300%, 0); }
#scene21 .lung-m {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 50%;
  height: 50%;
  background: url(../resource/lung_m.png);
  background-size: 100% 100%;
  -moz-transform: translate3d(0, -300%, 0);
  -o-transform: translate3d(0, -300%, 0);
  -ms-transform: translate3d(0, -300%, 0);
  -webkit-transform: translate3d(0, -300%, 0);
  transform: translate3d(0, -300%, 0); }

#scene23 .page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 576px;
  -moz-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -o-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -ms-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -webkit-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5); }
#scene23 .person-ctn-old {
  position: relative;
  float: left;
  width: 15%;
  padding-top: 15%;
  margin: 1% 2.5%;
  border-radius: 50%;
  opacity: 0;
  background: #21a397;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden; }
#scene23 .person-ctn {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 0;
  background: #21a397;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden; }
#scene23 .person {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: url(../resource/marco2.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p1 {
  background: url(../resource/marco1.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p2 {
  background: url(../resource/chinese.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p3 {
  background: url(../resource/canadian2.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p4 {
  background: url(../resource/KoreanB.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p9 {
  background: url(../resource/paperman.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p8 {
  background: url(../resource/marco1.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p7 {
  background: url(../resource/marco2.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p6 {
  background: url(../resource/canadian1.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p5 {
  background: url(../resource/KoreanG.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p10 {
  background: url(../resource/marco2.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p11 {
  background: url(../resource/marco1.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p12 {
  background: url(../resource/chinese_smile.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p13 {
  background: url(../resource/canadian2.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .p14 {
  background: url(../resource/KoreanR.png);
  background-size: 120% 180%;
  background-position: center 0%; }
#scene23 .g-svg-ctn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  opacity: 0;
  -moz-transform: translate3d(-59.3%, -46.95%, 0);
  -o-transform: translate3d(-59.3%, -46.95%, 0);
  -ms-transform: translate3d(-59.3%, -46.95%, 0);
  -webkit-transform: translate3d(-59.3%, -46.95%, 0);
  transform: translate3d(-59.3%, -46.95%, 0); }
#scene23 .g-ctn {
  position: absolute;
  left: 40%;
  top: 32%;
  width: 20%;
  padding-top: 20%;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden;
  opacity: 0; }
#scene23 .g-half {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #bdbdbd; }
#scene23 .g-ctn > p, #scene23 .g-bg > p {
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 220;
  text-align: center;
  color: white;
  font-family: times;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
#scene23 .g-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00bcd4; }
#scene23 .g-layer.l0 {
  background: #bdbdbd; }
#scene23 .g-layer.l1 {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }
#scene23 .g-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #64a7F7;
  opacity: 0; }
#scene23 .g-bg > p {
  left: 50%;
  top: 45%; }

/*# sourceMappingURL=scenes.css.map */
